<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{page.title}} - Manja</title>
<link rel="stylesheet" type="text/css" href="sen.css" /> 
<link rel="stylesheet" type="text/css" href="style.css" />
<link rel="stylesheet" type="text/css" href="jquery.lightbox.min.css" />
<script src="scripts/jquery-1.6.1.min.js" type="text/javascript"></script>
<script src="scripts/jquery.lightbox.min.js" type="text/javascript"></script>
<!--[if lte IE 8]>
<script src="scripts/html5.js" type="text/javascript"></script>
<![endif]-->

</head>
<body>
<div id="wrap">
  
    <header>
      <div id="logo">
        <h1><a href="/">manja</a></h1>
	  </div>
	<nav>
	  <ul>
        <li><a href="/illustrations.html">Illustrations</a></li>
        <li><a href="/about.html">About me</a></li>
        <li><a href="/forsale.html">For sale</a></li>
        <li><a href="/photos.html">Photos</a></li>
		<li><a href="/blog.html">Blog</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
	  <div class="clearfix"></div>
	</nav>

    </header>
    <!-- /header -->
    <div id="content">
          
       {{content}}
      <div class="clearfix"></div>
    </div>
    <!-- /content -->
  
	  <footer>
<nav>
	
  <ul>
	  <li><a href="/">Home</a></li>
        <li><a href="/illustrations.html">Illustrations</a></li>
        <li><a href="/about.html">About me</a></li>
        <li><a href="/forsale.html">For sale</a></li>
        <li><a href="/photos.html">Photos</a></li>
		<li><a href="/blog.html">Blog</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
</nav>
</footer>
<script src="scripts/footer.js" type="text/javascript"></script>
  </div>
  <!-- /wrap -->
  
</body>
</html>
