.ft_45 {background-image: url('../images/footer/2.jpg');}
.ft_01 {background-image: url('../images/footer/almost there.jpg');background-position: 94% 0;}
.ft_02 {background-image: url('../images/footer/Arty farty.jpg');}
.ft_03 {background-image: url('../images/footer/cvidze.jpg');}
.ft_04 {background-image: url('../images/footer/dremka.jpg');}
.ft_05 {background-image: url('../images/footer/drvo za TRIP.jpg');}
.ft_06 {background-image: url('../images/footer/easier1.jpg');}
.ft_07 {background-image: url('../images/footer/easier.jpg');}
.ft_08 {background-image: url('../images/footer/hekleraj.jpg');}
.ft_09 {background-image: url('../images/footer/kafica.jpg');}
.ft_10 {background-image: url('../images/footer/kauboj.jpg');}
.ft_11 {background-image: url('../images/footer/klizaljke1.jpg');}
.ft_12 {background-image: url('../images/footer/klizaljke.jpg');}
.ft_13 {background-image: url('../images/footer/klopica.jpg');}
.ft_14 {background-image: url('../images/footer/klupica.jpg');}
.ft_15 {background-image: url('../images/footer/kraljica.jpg');}
.ft_16 {background-image: url('../images/footer/lazy.jpg');background-position: 97% 0;}
.ft_17 {background-image: url('../images/footer/lica1.jpg');}
.ft_18 {background-image: url('../images/footer/lica 2.jpg');background-position: 95% 0;}
.ft_19 {background-image: url('../images/footer/lica.jpg');}
.ft_20 {background-image: url('../images/footer/Lota1.jpg');}
.ft_21 {background-image: url('../images/footer/Lota.jpg');background-position: 96% 0;}
.ft_22 {background-image: url('../images/footer/luxury.jpg');}
.ft_23 {background-image: url('../images/footer/njama1.jpg');}
.ft_24 {background-image: url('../images/footer/njama2.jpg'); background-position: 99% 0;}
.ft_25 {background-image: url('../images/footer/njama design.jpg'); background-position: 96% 0;}
.ft_26 {background-image: url('../images/footer/njama.jpg');background-position: 99% 0;}
.ft_27 {background-image: url('../images/footer/oblak.jpg');}
.ft_28 {background-image: url('../images/footer/outfit 2.jpg');}
.ft_29 {background-image: url('../images/footer/outfit.jpg');}
.ft_30 {background-image: url('../images/footer/pile.jpg');}
.ft_31 {background-image: url('../images/footer/pokloni1.jpg');}
.ft_32 {background-image: url('../images/footer/pokloni.jpg');}
.ft_33 {background-image: url('../images/footer/povedi me.jpg');}
.ft_34 {background-image: url('../images/footer/prolecne ptice.jpg');}
.ft_35 {background-image: url('../images/footer/ptice odabrane.jpg');}
.ft_36 {background-image: url('../images/footer/romanticna.jpg');}
.ft_37 {background-image: url('../images/footer/Skolarac+2+decembar.jpg');}
.ft_38 {background-image: url('../images/footer/sporty.jpg');}
.ft_39 {background-image: url('../images/footer/stigla jesen1.jpg');}
.ft_40 {background-image: url('../images/footer/stigla jesen2.jpg');}
.ft_41 {background-image: url('../images/footer/student.jpg');}
.ft_42 {background-image: url('../images/footer/vilenjak.jpg');}
.ft_43 {background-image: url('../images/footer/YEAH.jpg');}
.ft_44 {background-image: url('../images/footer/zaljubiska.jpg');}
